@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Lista de alumnos";
}


<div class="text-center py-5 px-5 my-5 mx-5" style="border:1px solid black">
            <h1 class="fw-bold">Bienvenido a la página del curso de Desarrollo de Aplicaciones</h1>
            <h2 class="fw-bold">Lista de calificaciones</h2>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        </div>
        
        <div class="py-5 px-5 my-5">
            <table  class="table  table-bordered table-hover table-striped tabled-responsive" id="tablaAlumnos">
                <thead>
                    <tr>
                        <td><strong>Foto</strong></td>
                        <td><strong>Matrícula</strong></td>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Sexo</strong></td>
                        <td><strong>Eliminar</strong></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                      
            </table>   
            
            <div class="my-3">                
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dialogoAgregar">Agregar nuevo alumno</button>
                <!--<button class="btn btn-success" type="button" onclick="$('#dialogoAgregar').modal('show');">Agregar nuevo alumno</button> -->
            </div>
            
            
            <div class="modal fade" tabindex="-1" id="dialogoAgregar">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Alumno</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formaCaptura">            
                                <div class="row mb-3">
                                    <label for="matricula" class="col-sm-2 col-form-label">
                                        Matricula:
                                    </label>
                                    <div class="col-sm-4">                                        
                                        <input type="text" id="matricula" class="form-control"
                                            placeholder="Escriba la matrícula" >
                                    </div>
                                </div> 
                                <div class="row mb-3">
                                    <label for="nombre" class="col-sm-2 col-form-label">
                                        Nombre:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" id="nombre" class="form-control"
                                            placeholder="Escriba el nombre">
                                    </div>
                                </div> 
                                <div class="row mb-3">
                                    <label for="domicilio" class="col-sm-2 col-form-label">
                                        Domicilio:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" id="domicilio" class="form-control"
                                            placeholder="Escriba el domicilio del alumno">
                                    </div>
                                </div> 
                                <div class="row mb-3">
                                    <label for="fechaNacimiento" class="col-sm-2 col-form-label">
                                        Fecha de Nacimiento:
                                    </label>
                                    <div class="col-sm-4">
                                        <input type="date" id="fechaNacimiento" class="form-control"
                                            placeholder="Escriba la fecha de nacimiento">
                                    </div>
                                </div> 
                                <div class="row mb-3">
                                    <label for="sexo" class="col-sm-2 col-form-label">
                                        Sexo:
                                    </label>
                                    <div class="col-sm-3">
                                        <select id="sexo" class="form-select">
                                            <option value="H">Hombre</option>
                                            <option value="M">Mujer</option>
                                        </select>
                                    </div>
                                </div> 
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button onclick="agregarAlumno(); return false;" type="button" class="btn btn-primary">Agregar Alumno</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" id="dialogoEliminar">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar Alumno</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                        <div class="row mb-12">
                            <label for="sexo" class="col-sm-12 col-form-label">
                                ¿Está seguro de eliminar al alumno <span id="nombreAlumno"></span>
                            </label>                            
                        </div> 
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button onclick="eliminarAlumnoAjax(); return false;" type="button" class="btn btn-primary">Eliminar Alumno</button>
                        </div>
                    </div>
                </div>
            </div>

  @section Scripts {
    <script src="/js/alumnos.js"></script>  
        <script>
            var alumnos = [];            
            $(document).ready(function() {                
                descargarDatos();
                
            });                         
        </script>
}
