@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
    var op1 = 10;
    var op2 = 5;
    var suma = op1 + op2;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The result of the sum @op1 plus @op2 is @suma</p>
</div>
